/* $main-text-color: #0e1b11;
$color-primary: #23432a;
$color-secondary: #fbdae9;
$color-light: #f2f8f3;
$color-mid: #e0e0e0;
$color-dark: #0e1b11;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: 
$header-font:  */

/* body */
.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* footer */
.site-footer {
    background-color: #23432a;
    padding: 20px 0;
}
.site-footer a, .site-footer h5 {
    color: #f2f8f3;
}
/* index- masthead */
/* .masthead {
    height: 90vh;
    min-height: 500px;
    background-image: url(img/header-plant.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
} */
#landing {
    height: 100%;
    background: url(img/header-plant.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* .masthead-text {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding-top: 5vh;
    padding-bottom: 5vh;
} */
/* .landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
} */
/* index- best seller products */
.product-card {
    border: none;
}
.product-cart-button {
    position: absolute;
    height: 2.5rem;
    width: 10rem;
    background-color: gray;
    color: white;
    border-radius: 2rem;
    outline: none;
    border: none;
    text-align: center;
    top: 70%;
    left: 30%;
    opacity: 0;
}
.product-card:hover input {
    opacity: 1;
    transition: 0.5s;
}

/* care guide */
.lg-letter {
    font-size: 15rem;
}